@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {background: url('https://i.imgur.com/ke7ATXi.jpeg') top center fixed;background-size: 100%;font-family: Roboto;color: rgba(40, 55, 105);}

.topbar {background: rgba(70, 126, 156,0.7);}
.navbar {background: rgba(70, 126, 156,0.7);font-family: Roboto;}
.navbar li a {color: white !important;}
.navbar li a:hover {background: rgba(39, 75, 122,0.7) !important;}

.container.main {background: rgba(154, 205, 208,0.7);box-shadow: none;}
.col-md-9 {background: none;}

.breadcrumb {background: rgba(199, 235, 222,0.7);}
.breadcrumb .active {color: rgba(102, 142, 150,0.7);}

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

.box1 {
	float: left;
	background: #e9e9e9;
	color: rgba(40, 55, 105);
	padding: 15px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 1px;
	height: 150px;
	width: 250px;
	overflow: hidden;
}
.box1:hover {
	overflow-y: auto;
}
.box2 {
	float: left;
	background: #e9e9e9;
	color: rgba(40, 55, 105);
	padding: 15px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 1px;
	height: 150px;
	width: 450px;
	overflow: hidden;
}
.box2:hover {
	overflow-y: auto;
}

.panel {background: rgba(199, 235, 222,0.7) !important;border: none !important;box-shadow: none !important;}
.progress {background: #e9e9e9;}
.progress-div {color: rgba(40, 55, 105)}
.progress-bar {background: #568aa3;}
.chat_light {background: white;text-align: center;}
.chat_dark {background: rgba(199, 235, 222,0.7);}

.table {background: #e9e9e9;border: none;border-radius: 10px;border-collapse: separate;}
.top, .bottom, th, .table .left {background: rgba(70, 126, 156,0.7) !important;color: rgba(40, 55, 105) !important;}
.inner-table .left {background: rgba(199, 235, 222,0.7) !important;}
.inner-table .right {background: rgba(223, 245, 239,0.7)}
.right_odd {background: rgba(150,139,122,0.8) !important;}
.right_cub {background: rgba(144,90,93,0.8) !important;}

h1 {color: rgba(40, 55, 105);font-family: "Baloo Bhaijaan 2", serif;font-weight: 700;font-size: 48px;text-align: center;}
h3 {color: rgba(40, 55, 105) !important;font-family: "Baloo Bhaijaan 2", serif;font-weight: 600;font-size: 24px !important;}
