body {background: url('https://i.imgur.com/ke7ATXi.jpeg') top center fixed;background-size: 100%;font-family: Raleway;color: black;}

.container.main {background: rgba(154, 205, 208,0.7);border: 1px solid black;box-shadow: none;}
.col-md-9 {background: none;}
